#picture{
    margin-top: 20px;
    width: 500px;
    height: 300px;
}
body{
    margin: 0;
}
span{
    display: flex;
    /* text-align: center; */
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section,
.kakoito{
    display: flex;
    margin-top: 10px;
}

.chtoto{
    text-align: center;
}
.normal{
    display: flex;
    width: 150px;
    height: 35px;
    border-left: 1px solid rgb(160, 193, 194);
    border-top: 1px solid  rgb(160, 193, 194);
    border-bottom: 1px solid rgb(160, 193, 194);
    background: rgb(207, 207, 207);
    /* text-align: center;
    vertical-align: middle; */
    margin-left: 70px;
    border-radius: 5px 0 0 5px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
input{
    display: flex;
    border: 1px solid rgb(160, 193, 194);
    font-size: 16px;
    width: 170px;
    height: 35px;
    padding-left: 5px;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
}

.central{
    justify-content: center;
    text-align: center;
}
.special{
    font-size: 25px;
}
#submit{
    cursor: pointer;
    width: 140px;
    height: 35px;
    text-align: center;
    margin: 7px;
    background: rgb(76, 123, 223);
    font-size: 18px;
    color: rgb(19, 59, 28);
    border-color: rgb(76, 123, 223);
}
#submit:hover{
    color: rgb(49, 134, 69);
    background: rgb(7, 36, 100);
    border-color: rgb(7, 36, 100);
}